/*  desktop  */
@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
  header {
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    z-index: 10;
    box-shadow: 0 4px 4px -2px rgb(0, 0, 0, 0.5);
  }
  .header_social {
    width: 100vw;
    height: 40px;
    padding: 0px 5%;
    margin: 0px;
    color: white;
    display: flex;
    box-sizing: border-box;
  }
  .header_social .left {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header_social .left span,
  .header_social .left span a {
    margin-right: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header_social .left img {
    height: 20px;
    margin-right: 10px;
  }
  .header_social .right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header_social .right a {
    padding: 5px;

    margin-left: 25px;
  }
  .header_social .right a img {
    height: 22.5px;
  }

  .header_links {
    /* height: 100px; */
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    transition: 2.5s;
    overflow-y: visible;
  }
  .header_logo {
    height: 100%;
    max-height: 100px;
  }
  nav {
    width: auto;
  }
  nav .nav_ul_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100%;
    padding: 0;
    margin: 0;
  }

  nav ul .main_link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25px;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid white;
  }
  nav ul .main_link:hover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25px;
    border-radius: 50px;
    border: 1px solid #009351;
    color: #009351;
  }
  nav ul .li_with_dropdown {
    position: relative;
  }

  nav .dropdown {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    margin: 0;
    min-width: 150px;
    background-color: white;
    padding: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
  }
  nav .dropdown a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0px;
    text-wrap: nowrap;
    text-align: left;
    margin: 0;
    text-align: left;
    line-height: 25px;
    padding: 20px 25px;
    box-sizing: border-box;
  }
  nav .dropdown a:hover {
    background-color: #009351; /* primary green */
    color: white;
    cursor: pointer;
  }
  nav .primary_nav_button {
    background-color: #009351; /* primary green */
    color: white;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid white;
  }

  nav .primary_nav_button:hover {
    background-color: white; /* primary green */
    color: #009351;
    border: 1px solid #009351;
  }
}
/*  mobile  */
@media (max-width: 768px) {
  .desktop {
    display: none !important;
  }
  header {
    position: fixed;
    top: 0px;
    z-index: 10;
    box-shadow: 0 4px 4px -2px rgb(0, 0, 0, 0.5);
  }
  .header_social {
    width: 100vw;
    height: 40px;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 4px -2px rgba(255, 255, 255, 0.25);
  }
  .header_social .left {
    display: none;
  }

  .header_social .right {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .header_social .right a {
    padding: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_social .right a img {
    height: 22.5px;
  }

  .header_links {
    width: 100vw;
    height: 80px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    transition: 2.5s;
    box-sizing: border-box;
    position: relative;
  }
  .header_logo {
    height: 100%;
  }
  nav {
    width: auto;
  }
  nav .nav_ul_container {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 15px;
  }
  .toggle-menu {
    display: block;
    position: relative;
    padding: 1.5rem;
    width: 20%;
    height: 80px;
    text-indent: -999em;
    cursor: pointer;
    z-index: 10;
    box-sizing: border-box;
  }

  .toggle-menu--clicked {
    .menu__bar {
      &:nth-child(1) {
        top: 2.25rem;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateX(100%) scale(0);
      }

      &:nth-child(3) {
        top: 2.25rem;
        transform: rotate(-45deg);
      }
    }
  }
  .menu__bar {
    display: block;
    position: absolute;
    left: 1rem;
    width: 2.5rem;
    height: 0.25rem;
    transition: top 0.4s ease-out, transform 0.4s ease-out;
    background-color: #000000;

    &:nth-child(1) {
      top: 1.25;
    }

    &:nth-child(2) {
      top: 2.25rem;
    }

    &:nth-child(3) {
      top: 3rem;
    }
  }

  .mobileDropDown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #009351;
    color: white;
    padding: 50px;
    height: calc(100vh - 90px);
    position: fixed;
    top: 90px;
    left: 0px;
    right: 0px;
    width: 100vw;
    z-index: 1;
    transition: 0.5s;
    top: -1000px;
    padding-top: 130px;
  }

  .mobileDropDown a {
    width: 50%;
    margin: 2.5px 0px;
    padding: 15px;
    font-size: 1.1rem;
  }

  .mobileDropDown ul {
    display: flex;
    flex-direction: column;
  }

  nav ul .main_link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25px;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid white;
  }
  nav ul .main_link:hover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25px;
    border-radius: 50px;
    border: 1px solid #009351;
    color: #009351;
  }
  nav ul .li_with_dropdown {
    position: relative;
  }

  nav .dropdown {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    margin: 0;
    min-width: 150px;
    background-color: white;
    padding: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
  }
  nav .dropdown a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0px;
    text-wrap: nowrap;
    text-align: left;
    margin: 0;
    text-align: left;
    line-height: 25px;
    padding: 20px 25px;
    box-sizing: border-box;
  }
  nav .dropdown a:hover {
    background-color: #009351; /* primary green */
    color: white;
    cursor: pointer;
  }
  nav .primary_nav_button {
    background-color: #009351; /* primary green */
    color: white;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid white;
  }

  nav .primary_nav_button:hover {
    background-color: white; /* primary green */
    color: #009351;
    border: 1px solid #009351;
  }
}
